/* Avatar.css */
.AvatarRoot {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    user-select: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--bg-secondary);
}

.AvatarImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.AvatarFallback {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--text-inverse);
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
}