/* ScrollArea.css */
.ScrollAreaRoot {
    width: 100%;
    height: 100%;
    overflow: hidden;
    --scrollbar-size: 10px;
}

.ScrollAreaViewport {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.ScrollAreaScrollbar {
    display: flex;
    user-select: none;
    touch-action: none;
    padding: 2px;
    background: var(--bg-secondary);
    transition: background 160ms ease-out;
}

.ScrollAreaScrollbar:hover {
    background: var(--bg-hover);
}

.ScrollAreaScrollbar[data-orientation='vertical'] {
    width: var(--scrollbar-size);
}

.ScrollAreaScrollbar[data-orientation='horizontal'] {
    flex-direction: column;
    height: var(--scrollbar-size);
}

.ScrollAreaThumb {
    flex: 1;
    background: var(--border-color);
    border-radius: var(--scrollbar-size);
    position: relative;
}

.ScrollAreaThumb::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-width: 44px;
    min-height: 44px;
}