/* Switch.css */
.SwitchRoot {
    width: 42px;
    height: 25px;
    background-color: var(--bg-input);
    border-radius: 9999px;
    position: relative;
    box-shadow: 0 2px 10px var(--shadow-color);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--border-input);
    cursor: pointer;
}

.SwitchRoot:focus {
    border-color: var(--primary-color);
    outline: none;
}

.SwitchRoot[data-state='checked'] {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.SwitchThumb {
    display: block;
    width: 21px;
    height: 21px;
    background-color: var(--text-dialog);
    border-radius: 9999px;
    box-shadow: 0 2px 2px var(--shadow-color);
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;
}

.SwitchRoot[data-state='checked'] .SwitchThumb {
    transform: translateX(19px);
    background-color: var(--text-inverse);
}