/* Toast.css */
.ToastViewport {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 10px;
    width: 390px;
    max-width: 100vw;
    margin: 0;
    list-style: none;
    z-index: 2147483647;
    outline: none;
}

.ToastRoot {
    background-color: var(--bg-dialog);
    border-radius: 6px;
    box-shadow: 0 10px 38px -10px var(--shadow-color), 0 10px 20px -15px var(--shadow-color);
    padding: 15px;
    display: grid;
    grid-template-areas: 'title action' 'description action';
    grid-template-columns: auto max-content;
    column-gap: 15px;
    align-items: center;
    border: 1px solid var(--border-color);
}

.ToastRoot[data-state='open'] {
    animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.ToastRoot[data-state='closed'] {
    animation: hide 100ms ease-in;
}

.ToastRoot[data-swipe='move'] {
    transform: translateX(var(--radix-toast-swipe-move-x));
}

.ToastRoot[data-swipe='cancel'] {
    transform: translateX(0);
    transition: transform 200ms ease-out;
}

.ToastRoot[data-swipe='end'] {
    animation: swipeOut 100ms ease-out;
}

.ToastTitle {
    grid-area: title;
    margin-bottom: 5px;
    font-weight: 500;
    color: var(--text-primary);
    font-size: 15px;
}

.ToastDescription {
    grid-area: description;
    margin: 0;
    color: var(--text-secondary);
    font-size: 13px;
    line-height: 1.3;
}

.ToastAction {
    grid-area: action;
}

.ToastClose {
    grid-area: action;
    background: transparent;
    border: none;
    color: var(--text-secondary);
    cursor: pointer;
    font-size: 18px;
}

.ToastRoot.error {
    border-left: 4px solid #ef4444;
}

.ToastRoot.success {
    border-left: 4px solid #22c55e;
}

@keyframes slideIn {
    from {
        transform: translateX(calc(100% + 25px));
    }

    to {
        transform: translateX(0);
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes swipeOut {
    from {
        transform: translateX(var(--radix-toast-swipe-end-x));
    }

    to {
        transform: translateX(calc(100% + 25px));
    }
}